@import url(http://fonts.googleapis.com/css?family=Titillium+Web:900|Roboto:400,100);

/* Weather API */

#weatherd {
  text-align: center;
  font-family: LeagueGothic-Regular, arial;
  font-weight: 500;
/*  background-color: black;
  color: white; */
}

.local {
  font-size: 3.4em;
}

.weathtags {
  font-size: 2.8em;
}

@media screen and (max-width: 470px) {
  /* header */
 header a.logo {
	 z-index: -1;
 }
header div h5 {
  font-size: 135px;
}
}
