/*                body
                  background-image url("https://cldup.com/s3fkCzIrnU.jpg")
                  /*background-image url("https://cldup.com/M7qN8bSJyb.jpg")*/
/*
                  background-size 100%

                nav {
                    width: 100%;
                    background: #078BD3;
                    border: 0px solid #ccc;
                    border-right: none;
                }

                nav ul {
                    overflow: hidden;
                    margin: -10px;
                    padding: 8px;
                }

                nav ul li {
                    list-style: none;
                    float: left;
                    text-align: center;
                    border-left: 0px solid #fff;
                    border-right: 0px solid #ccc;
                    width: 16.6667%; /* fallback for non-calc() browsers */
/*                    width: calc(100% / 6);
                    box-sizing: border-box;
                }

                nav ul li:first-child {
                    border-left: none;
                }

                nav ul li a {
                    display: block;
                    text-decoration: none;
                    color: #616161;
                    padding: 10px 0;
                    font-family: arial;
                    color: white
                    text-shadow: 0px 1px #877D7D;
                }

                h1

                  font-family raleway
                  font-size 120px
                  font-weight 400
                  text-align center

                  top 40%
                  color white
                  text-shadow 4px 4px 8px #2E3A3A
                  position relative
                  top 25%


                h2

                  font-family raleway
                  font-size 90px
                  font-weight 100
                  text-align center
                  top 40%
                  color white
                  text-shadow 4 px 4px 8px #2E3A3A
                  position relative
/*                  top 14%
