body {
	font: normal 15px/15px 'Helvetica';
}

header {
  height: 550px;
  background: url(https://cldup.com/aiMzzadqmt.jpg) no-repeat center bottom;
  position: relative;
}

h1 {
    text-align: center;
    padding: 0px 0px 0px 40px;
    font-size: 50px;
    color: #F2F0f0;
    font-family: 'Sigmar One', cursive;
    text-shadow: 0px -3px 2px #554F4f;
}

h2 {
  text-align: center;
    font-size: 50px;
    color: #f2f0f0;
    font-family: 'Sigmar One', cursive;
    text-shadow: 0px 4px 4px #554f4f;
    padding: 314px 0px 0px 40px;
}

h3 {
  text-align: center;
    font-size: 50px;
    color: #f2f0f0;
    font-family: 'Sigmar One', cursive;
    text-shadow: 0px 3px 4px #554f4f;
    padding: 0px 0px 10px 40px;
		margin: 0px 0px -10px 0px;
}

h4 {
  text-align: right;
  font-size: 30px;
  color: #f2f0f0;
  font-family: 'Sigmar One', cursive;
  text-shadow: 0px 3px 4px #554f4f;
  padding: 20px 0px 10px 40px;
	margin: 40px 62px 0 0;
}


}
ul.player {
	margin: 0 auto;
	margin-top: 100px;
	list-style: none;
}

ul.player li {
	border-bottom: 1px solid #999;
	color: #444;
	padding: 20px 80px 20px 80px;
	background: url(https://cldup.com/_Z49nKVdvE.png) no-repeat 8px 7px;
	background-color: #000;
	background-position: 58px 17px;
	cursor: pointer;
  text-align: center;
  color: #fff;
  width: 400px;
  margin: auto;
  font-family: 'Sigmar One', cursive;
  font-size: 25px;
  letter-spacing: 1px;
}

ul.player li:first-child {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top: none;
}

ul.player li:last-child {
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom: none;
}

ul.player li {
	transition: color .4s;
}

ul.player li:hover {
	background-color: #000;
	color: #1a4740;
}

ul.player li#playing {
	background: url(https://cldup.com/YQtCBSmIbq.png) no-repeat 8px 7px;
	-webkit-filter: invert(1);
	filter: invert(1);
	background-color: #000;
	color: #fff;
	font-weight: bold;
	background-position: 458px 17px;
}



ul.player li#paused {
	background: url(https://cldup.com/_Z49nKVdvE.png) no-repeat 8px 7px;
	background-color: #000;
	color: #FFF;
	font-weight: bold;
	background-position: 58px 17px;
}
