/*body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #555;
  margin: 0;
  padding: 0;
}

#page {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

header {
  height: 1000px;
  background: #000 url(https://cldup.com/4jAQW6AOZP.jpg) no-repeat center bottom;
  position: relative;
  background-size: cover;
}
*/
/*header a.logo {
  z-index: 1;
  position: absolute;
  display: block;
  width: 160px;
  height: 66px;
  background: url(https://cldup.com/UEwTPNnP1h.jpg) no-repeat 0 0;
  background-size: contain;
  top: 10px; left: 10px;
  font-size: 1.7em;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  border-style: solid;
  border-color: rgba(128,128,128, .4);
  border-width: 1px;
}

header a.logo span  {display: left;} */
/*
header div.hero {
  position: absolute;
  width: 40%;
  bottom: 12%;
  left: 62%;
}

header div.hero h1 {
	font-size: 50px;
	line-height: 1em;
  margin: 0 0 10px 0;
  color: #fff;
}

header a.btn {
  font-size: 40px;
  color: #fff;
}

/* section main */
/*
section.main {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0;
}

section.main aside {
  width: 33%;
  float: left;
  text-align: center;
}

section.main .content {
  margin: 15px;
  background: no-repeat center top;
  background-size: 75px 75px;
  padding-top: 85px;
}

section.main aside h3 a {
  text-decoration: none;
  transition: 1s;
}

section.main aside h3 a:hover {
  color: #000;
  text-decoration: underline;
}

section.main aside .content.trending {
  background-image: url(https://cldup.com/HOk7IFwFrT.svg);
}
section.main aside .content.find-it {
  background-image: url(https://cldup.com/etA73HchTL.svg);
}
section.main aside .content.tools {
  background-image: url(https://cldup.com/Arbc3osyFe.svg);
}

/* navigation */
/*nav {
  background-color: rgba(0,0,0,.65);
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 50px 0 0 0;
  width: 100%;
}

nav::after {
  content:'';
  display: block;
  clear: both;
}


nav ul {
  list-style: none;
  margin: 0;
  padding: 0px;
}

nav ul li:hover {
  background-color: #2b0306;
}

nav ul li:hover > ul {
  display: block;
}

nav ul li a {
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  width: 125px;
  position: relative;
}

nav ul li a:visited {
  color: #fff
}

nav ul li a:hover {
  background-color: #000;
}

nav ul ul {
  position: absolute;
  top: 100%;
  background-color: rgba(0,0,0,.65);
  display: none;
}

nav ul ul li {
  position: relative;
}

nav ul ul ul {
  left: 100%; top: 0px;
}



/* top level */
/*nav > ul {
  padding-left: 100px;
}

nav > ul > li {
  float: left;
}

nav > ul > li > a {
  width: auto;
  padding: 10px 20px 15px 20px;
}

nav a[aria-haspopup="true"]::after {
  content: '';
  display: block;
  width: 0px; height 0px;
  position: absolute;
  top: 16px;
  right: 15px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #fff;
}

nav > ul >li > a[aria-haspopup="true"]::after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: solid #fff;
  left: 20px; right: auto;
  bottom: 6px; top: auto;
}
*/
@media screen and (max-width: 470px) {
  /* header */
 header a.logo {
	 z-index: -1;
 }
header div h5 {
  font-size: 135px;
}
}
